.dev-suite__selected {
	border: 2px solid #2294f2 !important;
}

.qv-gridresize-point .visual-cue {
	background: none;
}

.drag-and-drop-canvas {
	display: none;
}

.dev-suite__shadow-element {
	position: fixed;
	background-color: #819199;
	z-index: 999;
	opacity: 0.25;
}
